/* set up a nonWF simulation
Assume two chances for reproduction per year, with only a subset of individuals 
reproducing in the second cycle. 
That means each tick is half a year, and ages/times divided by two.

Start by reading in a rescaled metapopulation run. K should reflect the modern estimated pop size.
and N would now be dictated by fitness (or carrying capacity, but no scaling greater than 1).
Q should probably be 1 at this point since populations sizes are likely small.

*/
initialize() {
	initializeSLiMModelType("nonWF");
	defineConstant("simID", getSeed());
	
	//Set defaults
	if(!exists("K1")) defineConstant("K1", 635);	// Dana Point historical carrying capacity 
	
	if(!exists("botgens")) defineConstant("botgens", 200); // Length of population declines (2 ticks per calendar year)
	if(!exists("postbot")) defineConstant("postbot", 100); // Number of ticks to track after population declines (2 ticks per calendar year)
	
	if(!exists("samp_size")) defineConstant("samp_size",30); // Define sample size for stats calculation
	if(!exists("Q")) defineConstant("Q",1); //Carry over from burnin, probably should always stay at 1 here
	if(!exists("winterMortality")) defineConstant("winterMortality",0.33); // stochastic mortality during winter
	if(!exists("outfreq")) defineConstant("outfreq",1); // Set output frequency for stats
	if(!exists("fin")) defineConstant("fin","~/simulationState.txt_simulationState_rescaledCoeffs.txt"); // A burned in ancestral population with formed metapopulation
	if(!exists("out")) defineConstant("out",simID + "_simulationState.txt");
	if(!exists("rescale_out")) defineConstant("rescale_out",T); // Rescale the selection coeffs before saving sim state
	
	defineConstant("g",25200); // # of genes
	defineConstant("geneLength", 2600);
	defineConstant("seqLength",g*geneLength);
	defineConstant("L", c( 0.3, 0.3, 0.14, 0.14, 0.14, 0.14, 0.3, 0.3, 0.8, 1.0));
	defineConstant("rohCutoff",0.015);
	
	initializeMutationRate(2.066e-9*Q); //adjusted to be non-synonymous
	
	// set dominance coefficients for different deleterious mutation types and allow DFE bins to be scaled
	defineConstant("h_wkDel", 0.45);
	defineConstant("h_modDel", 0.2);
	defineConstant("h_strDel", 0.05);
	defineConstant("h_semiLet", 0.0);
	defineConstant("h_let",0.0);
	defineConstant("t1", -0.001);
	defineConstant("t2", -0.01);
	defineConstant("t3", -0.1);
	
	// set up discrete DFE with four mutation types coming from gamma DFE
	// augmented with recessive lethals
	// this approach for implementing an h-s relationship is much faster than using fitness callbacks in SLiM (see manual)
	initializeMutationType("m1", h_wkDel, "s", "do x=rgamma(1,-0.01314833,0.186); while (x < t1); return x*Q;");
	initializeMutationType("m2", h_modDel, "s", "do x=rgamma(1,-0.01314833,0.186); while (x < t2 | x >= t1); return x*Q;");
	initializeMutationType("m3", h_strDel, "s", "do x=rgamma(1,-0.01314833,0.186); while (x < t3 | x >= t2); return x*Q;");
	initializeMutationType("m4", h_semiLet, "s", "do x=rgamma(1,-0.01314833,0.186); while (x >= t3); return x*Q;");
	initializeMutationType("m5", h_let,"f", -1.0);
	defineConstant("let_frac", 0.005);
	// set proportion of each mutation type as determined by Kim 2017 DFE augmented with lethals
	initializeGenomicElementType("g1", c(m1,m2,m3,m4,m5), c(0.491*(1-let_frac), 0.247*(1-let_frac), 0.236*(1-let_frac), 0.026*(1-let_frac), let_frac));
	c(m1,m2,m3,m4,m5).convertToSubstitution=F;
	
	// Set up genes on 28 chromosome
	gene_nums = c(2435,1897,1965,929,936,1596,1349,905,702,931,1166,616,1493,747,493,623,1341,600,431,1169,469,416,857,345,424,365); //Random numbers of genes that are close to what ppm chromosomes have
	
	for (i in 1:g){
		initializeGenomicElement(g1, ((i-1)*geneLength)+(i-1), (i*geneLength)+(i-2) );
	}
	
	rates=NULL;
	recomb_rate=1e-6*Q;
	
	// Multiple chromosomes:
	for (i in 1:(size(gene_nums)-1)){
		rates=c(rates, 0, rep(c(recomb_rate, 0), asInteger(gene_nums[i-1]-1)), 0.5);
	}
	rates=c(rates, 0, rep(c(recomb_rate, 0), asInteger(gene_nums[size(gene_nums)-1]-1)));
	
	ends=NULL;
	for (i in 1:g){
		ends=c(ends, (i*geneLength)+(i-2), (i*geneLength)+(i-1));
	}
	ends=ends[0:(size(ends)-2)];
	
	initializeRecombinationRate(rates, ends);
}

reproduction() {
		if(p1.individualCount<2) next;
		base_fit = p1.cachedFitness(NULL)/p1.individuals.tagF;
		breeding_binom = asLogical(rbinom(p1.individualCount,1,base_fit));
		breeders = p1.individuals[breeding_binom];
		// Even ticks will represent second litters, which not all mice will do. 
		// We will sample a fraction on those ticks
		// randomize the order of p1.individuals and/or subset
		if (sim.cycle % 2 == 0) {
			parents = sample(breeders, asInteger(size(breeders)*0.5));
		} else {
			parents = sample(breeders, size(breeders));
		}
		if(size(parents) < 2) next;
		
		// draw monogamous pairs and generate litters
		for (i in seq(0, size(parents) - 2, by=2)) {
			parent1 = parents[i];
			parent2 = parents[i + 1];
			parent1_base_fit = p1.cachedFitness(parent1.index)/parent1.tagF; // Adjust litter size by mean fitness of parents
			parent2_base_fit = p1.cachedFitness(parent2.index)/parent2.tagF;
			mean_scaled_parent_fitness = mean(c(parent1_base_fit,parent2_base_fit));
			offs_count = min(rpois(1,(mean_scaled_parent_fitness*4)-0.5),7); // Numbers from talking with Debra about mean litter size in wild
			p1.addCrossed(parent1, parent2, count=offs_count);
		}
	// disable this callback for this cycle
	self.active = 0;

}

// Read in ancestral pop
1 early () {
	catn("#Reading in population state from file");
	catn("Generation,Population,PopSize,MeanFitness,Het,InbLoad,Froh,Fixedweak,Fixedmod,Fixedstr,Fixedsemilet,K");
	sim.readFromPopulationFile(fin);
	p1.setValue("Kcurrent",p1.individualCount);
	p1.setValue("K",K1);	
	p1.setValue("Increment",(p1.individualCount-K1)/botgens);	// Decrease population size incrementally for "botgens" number of generations
	
	
	// start a newly seeded run and reschedule all blocks
	setSeed(rdunif(1, 0, asInteger(2^20) - 1));
	defineConstant("current_tick", community.tick);
	community.rescheduleScriptBlock(s1,start=current_tick+1,end=current_tick+botgens); // bottlenecking early block
	community.rescheduleScriptBlock(s2,start=current_tick+botgens+1,end=current_tick+botgens+postbot-1); // post-bottleneck early block	
	community.rescheduleScriptBlock(s3,start=current_tick+1,end=current_tick+botgens+postbot-1); // Universal late block
	community.rescheduleScriptBlock(s4,start=current_tick+botgens+postbot,end=current_tick+botgens+postbot); // Final output

	p1.individuals.tagF = p1.individuals.fitnessScaling*p1.fitnessScaling;
}

s1 2:100 early() {
	if(p1.individualCount < 1) next;
	popK = p1.getValue("Kcurrent")-p1.getValue("Increment");
	p1.setValue("Kcurrent",popK);
	ages = p1.individuals.age;
	mortality = L[ages];
	survival = 1 - mortality;
	p1.individuals.fitnessScaling = survival;
	
	// Stochastic winter mortality following even tick repro (summer breeding)
	if(sim.cycle % 2 == 0){
		deaths = asLogical(runif(p1.individualCount,0,1) < (winterMortality));
		p1.individuals[deaths].fitnessScaling = 0.0;
	}
	p1.fitnessScaling = min(popK / (p1.individualCount*mean(survival)),1.0);
	p1.individuals.tagF = p1.individuals.fitnessScaling*p1.fitnessScaling; // Mortality and density related fitness scalings
	
}

s2 100:200 early() {
		if(p1.individualCount < 1) next;
		popK = p1.getValue("K");
		ages = p1.individuals.age;
		mortality = L[ages];
		survival = 1 - mortality;
		p1.individuals.fitnessScaling = survival;
		
		// Stochastic winter mortality following even tick repro (summer breeding)
		if(sim.cycle % 2 == 0){
			deaths = asLogical(runif(p1.individualCount,0,1) < (winterMortality));
			p1.individuals[deaths].fitnessScaling = 0.0;
		}
		
		p1.fitnessScaling = min(popK / (p1.individualCount*mean(survival)),1.0);
		p1.individuals.tagF = p1.individuals.fitnessScaling*p1.fitnessScaling; // Mortality and density related fitness scalings
}

s3 2:199 late() {
			base_fit = p1.cachedFitness(NULL)/p1.individuals.tagF;
			p1.setValue("baseFit",mean(base_fit));
			if(sim.cycle % outfreq == 0){
				pop_stats = calc_stats(p1,samp_size);
				catn(sim.cycle + "," + p1.name + "," + size(p1.individuals) +"," + paste(pop_stats,sep=",") + "," + p1.getValue("Kcurrent"));
			}
			if (sim.cycle == current_tick + 10){
			  sim.outputFull(out + "_" + sim.cycle + "_simulationState.txt");
			}
}	

s4 200 late(){
	sim.simulationFinished();
}

// Calculate all the pop gen stats
function (f) calc_stats(o subpop, i n_size){
	if (subpop.individualCount<2) {
		base_fit=0;
		scaled_het=0;
		inbLoad=0;
		froh=1;
	} else {
		sample_inds = sample(subpop.individuals, min(n_size,subpop.individualCount));
		
		//Mutation-only fitness
		base_fit = subpop.cachedFitness(sample_inds.index)/sample_inds.tagF;
		
		//Heterozygosity adjusted by the scale fraction
		scaled_het = calcHeterozygosity(sample_inds.genomes);
		
		//Calculate genetic load
		inbLoad = calcInbreedingLoad(sample_inds.genomes)*2; //*2 to make it diploid, see page 766 of slim manual
		
		// Froh calculation (after scaled burnin though?)
		froh=NULL;
		froh_sum=0;
		roh_length_cutoff = seqLength*rohCutoff/Q;
		for (ind in sample_inds){
			ind_mut_pos1 = ind.genome1.mutations.position;
			ind_mut_pos2 = ind.genome2.mutations.position;
			hets = sort(c(setDifference(ind_mut_pos1,ind_mut_pos2),setDifference(ind_mut_pos2,ind_mut_pos1)));
			starts = c(0,hets);
			ends = c(hets,seqLength);
			rohs = ends - starts;
			froh_sum = sum(rohs[rohs>roh_length_cutoff]);
			froh = c(froh,froh_sum/seqLength);
		}
	}
	
	// Mutation data
	m1s=sum(sim.mutationFrequencies(NULL,sim.mutationsOfType(m1))==1);
	m2s=sum(sim.mutationFrequencies(NULL,sim.mutationsOfType(m2))==1);
	m3s=sum(sim.mutationFrequencies(NULL,sim.mutationsOfType(m3))==1);
	m4s=sum(sim.mutationFrequencies(NULL,sim.mutationsOfType(m4))==1);
	return c(mean(base_fit),scaled_het,mean(inbLoad),mean(froh),m1s,m2s,m3s,m4s);
}

